.section-title {
    font-weight: bold;
    font-size: 2em;
}

.line-box {
    border: 1px solid black;
    padding: 3px 5px 3px 5px;
}

.notice-close {
    text-align: right;
    vertical-align: bottom;
}