<div class="section-title span-24 last">Setup Required</div>

<div class="span-24">
  <p>Missing constants <code>RPX_API_KEY</code> and <code>RPX_REALM</code>.
    Please get those values from rpxnow, and define them
    in <code>config/environment.rb</code></p>
</div>