<p>You have successfully authenticated as <code><%= h \
session[:identifier] %></code>.  However, this identifier is being
used by the account <%= h @other_user.name %>.  Do you wish to change
that identifier to work with this account (<%= h @current_user.name %>)
instead?</p>

<form action="<%= url_for :action => "associate_really" %>">
<input type="submit" name="confirm" value="Yes">
<input type="submit" name="confirm" value="No">
</form>
