<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => "shared/header" %>
</head>
<body>

<div class="container">
  <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <%= yield %>
</div>

</body>
</html>